<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieTicketsApp">
        <activity
            android:name=".activity.Login.SaverActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminManageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.UpdateUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminHomeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Admin.AdminMovieDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Admin.AdminMovieMovieActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Admin.AdminMovieGenreActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Admin.AdminMovieCastActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Admin.AdminShowtimesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminTimelineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminSeatManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminFoodManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.AccountProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.BillDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.TicketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.ListTicketActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.PaymentActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.User.HomaPageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.ChooseDateAndTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.DetailsMovieActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.ViewAllMovie"
            android:exported="false" />
        <activity
            android:name=".activity.Login.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Login.PopupSignInSuccess"
            android:exported="false" />
        <activity
            android:name=".activity.Login.ResetPassWordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Login.SignUpSuccessfulActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.SeatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Login.CreateNewPassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.OTPCodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Login.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Login.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.DemoAPIctivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.FoodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Login.LoginActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="movieticketsapp-9a88f.firebaseapp.com"
                    android:pathPrefix="/__/auth/links"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <activity
            android:name=".activity.User.WalkthroughActivity"
            android:exported="false" />
    </application>

</manifest>