<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieTicketsApp">
        <activity
            android:name=".activity.AdminCinemaRoomActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AdminHomeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AdminMovieActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AdminMovieCastActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AdminMovieGenreActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AdminMovieMovieActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AdminShowtimeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SeatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailsMovieActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAllMovie"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PopupSignInSuccess"
            android:exported="false" />
        <activity
            android:name=".activity.ResetPassWordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpSuccessfulActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomaPageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateNewPassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OTPCodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SaverActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="movieticketsapp-9a88f.firebaseapp.com"
                    android:pathPrefix="/__/auth/links"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WalkthroughActivity"
            android:exported="false" />
    </application>

</manifest>